
# dependencies
/client/node_modules
/server/node_modules
/worker/node_modules

# terraform
/terraform/.terraform
/terraform/terraform.tfstate
/terraform/terraform.tfstate.backup
/terraform/terraform.tfvars

# testing
/client/coverage

# production
/client/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
